@using System.Web.Optimization
@using Antix.Work.Sizing.Portal.Properties
<!DOCTYPE html>
<html>
<head>
    <title>@Resources.Title</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
        @Styles.Render("~/bundles/styles-ie")
    <![endif]-->
    <!--[if gte IE 9]><!-->
        @Styles.Render("~/bundles/styles")
    <!--<![endif]-->
    
    <style>
        .body{visibility: visible;}
    </style>

    <link rel="canonical" href="http://size.antix.co.uk/sorry-browser-not-supported.cshtml" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link rel="apple-touch-icon" href="Images/icon-152x152.png" />
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta name='apple-mobile-web-app-status-bar-style' content='black' />

    <meta name="description" content="A task sizing tool for online project teams, enter a topic and get your team to estimate complexity" />
    <meta name="keywords" content="planning poker, complexity sizing, task estimation, team task estimating tool" />
    <link rel="icon" type="image/svg+xml" href="Images/icon.svg" />
</head>
<body>
    <div class="page">
        <div class="header"><h1>[Size]</h1></div>
        <noscript>
            <p>I need JavaScript to work!</p>
        </noscript>
        <div class="body">
            <div class="story">
            <div class="row readonly">
                <h2 class="message message-not-supported">
                    @Html.Raw(Resources.BrowserNotSupported_message)
                </h2>
            </div>
            </div>
        </div>

        <div class="footer">
            <p>
                <a class="icon icon-twitter" href="http://twitter.com/home/?status=%5BSize%5D%20an%20estimating%20tool%20for%20online%20teams%20via%20%40mrantix%20http%3A%2F%2Fsize.antix.co.uk">Tweet</a>
                <a class="icon icon-google" href="https://plus.google.com/share?url=http%3A%2F%2Fsize.antix.co.uk">G+</a>
                <a class="icon icon-feedback" href="http://size.uservoice.com">feedback</a>
            </p>
            <p>by <a href="http://antix.co.uk">antix.co.uk</a></p>
        </div>
    </div>
</body>
</html>