.rounded {
  border-radius: .2em;
}
.shadowed {
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 8px;
}
.dialog {
  display: none;
}
.dialogCover {
  background-color: #eeddbb;
  background-image: -o-linear-gradient(bottom, #000000 7%, #000000 70%);
  background-image: -moz-linear-gradient(bottom, #000000 7%, #000000 70%);
  background-image: -webkit-linear-gradient(bottom, #000000 7%, #000000 70%);
  background-image: -ms-linear-gradient(bottom, #000000 7%, #000000 70%);
  background-image: linear-gradient(to top, #000000 7%, #000000 70%);
  opacity: 0.5;
  display: none;
}
.dialogContainer {
  background-color: #eeddbb;
  background-image: -o-linear-gradient(bottom, #204060 7%, #336699 70%);
  background-image: -moz-linear-gradient(bottom, #204060 7%, #336699 70%);
  background-image: -webkit-linear-gradient(bottom, #204060 7%, #336699 70%);
  background-image: -ms-linear-gradient(bottom, #204060 7%, #336699 70%);
  background-image: linear-gradient(to top, #204060 7%, #336699 70%);
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 8px;
  display: none;
  color: #fff;
}
.dialogContainerInner {
  max-width: 400px;
  margin: 0 auto;
}
.dialogContainer .withAction button {
  border: none;
}
