@import url('imports/vars.less');
@import url('icons.less');

html{min-height:100%;}
html,body{width:100%;margin:0;padding:0;}
body {
    .box;
    .linearGradient(@backgroundColor, 25%, url('../Images/body-back.png'), url('../Images/Tree.svg'));
    color: @color;
    font-family: @font;
    font-size: 95%;
    font-weight:100;
}
textarea{
    font-family: @font;
}
input, textarea, select, button {
    font-size: 1em;
}
a{
    font-size: 1em;
    color:@color;    
}
.header h1{
    font-size:12em;
    margin:-.2em 0 -.8em;

    color:@headerColor;
}

.page{
    .box;
    width:100%;
    overflow:hidden;

    min-width:300px;max-width:600px;
    min-height:300px;

    margin:0 auto;
    padding: 1em;
}
.body{
    min-height:300px;
    visibility:hidden;
}
noscript p{
    .box;
    .rounded;
    
    padding: 1em;

    margin-top:200px;
    background-color:@inputReadonlyBackgroundColor;
    color:@inputReadonlyColor;
}

.message-not-supported{
    text-align:center;
    padding:2em;
}

.footer p {
    font-size: 1em;
    margin: 0 5px;
}
.footer p, .footer a{
    color:@backgroundColor;
    text-shadow: -1px -1px 1px @darken,1px 1px 1px @lighten;
}
.footer p:hover,
.footer p.hover{
    color:#eee;
}
.footer p:hover a,
.footer p.hover a{
    color:#fff;
}

.footer .icon{
    margin:0 0 0 6px;
}

.box{
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box;

}

.ui-popup{
    .box;
    .rounded;
    .shadowed;

    z-index:1;
}

.ui-select{
    .action;
}

.ui-select-list,
.ui-select-item{
    list-style:none;
    margin:0;
    padding:@borderWidth;
}

.ui-select-item{
    .box;
    .rounded;
    padding:@borderWidth;
}
.ui-select-list .ui-select-item:hover{
    background-color:@lighten;
}

.ui-input{
    .box;
    position:relative;
    display:block;
    width:100%;
    height:100%;
}

.ui-input-button{
    position:absolute;
    top:0;bottom:0;
    right:0;
    line-height:2.1em;

    padding-left:@borderWidth;
    border-left:solid 1px fade(@actionColor,25%);

    color:fade(@actionColor,50%);
}

.icon-timer,
.ui-input .icon-timer {
    padding-left: @iconSize + @borderWidth *2;

    background-position: @borderWidth center;
    background-size: @iconSize @iconSize;
    background-repeat: no-repeat;
}

#HelpContainer{
    .box;
    .rounded;
    .shadowed;
    display:none;
    z-index:2;

    position:relative;
    max-width:280px;

    background-color:@helpBackgroundColor;
    color:@helpColor;
}

.showHelp,
.showDemo{
    .box;
    .rounded;

    position:relative;
    z-index:1;
    float:right;

    margin:0 0 @borderWidth @borderWidth;
    border:solid @borderWidth @helpBackgroundColor;
    padding:0;
    background-color:@helpBackgroundColor;
    color:@helpColor;    
}

.helpContainerInner{
    padding:0 1em;
}
    .helpContainerInner:after {
        border-color: @helpBackgroundColor rgba(0, 0, 0, 0);
        border-style: solid;
        border-width: 15px 15px 0;
        bottom: -15px;
        content: "";
        display: block;
        left: 50px;
        position: absolute;
        width: 0;
    }
.below .helpContainerInner:after {
    border-width: 0 15px 15px;
    bottom: inherit;
    top: -15px;
}

.row .help{
    display:none;
}

.row{
    .box;
    .rounded;
    position:relative;
    overflow:visible;
    clear:both;
    list-style:none;
    margin-bottom:@borderWidth;
}
.withLabel {
    padding: 0 0 0 (@labelWidth+@borderWidth);
}
.row .input
{
    min-height: 2em;
    line-height: 2em;
}
.row .inputs{
    padding:0;
    margin:0;
}

.row>label{
    position:absolute;
    margin-left:-@labelWidth;
    width:5.5em;
    padding:.3em 0;
}

.input{
    .box;
    position:relative;
    display:block;
    overflow:auto;

    background-color:@inputBackgroundColor;
    color:@inputColor;
    padding:@borderWidth;

    box-shadow:inset 1px 1px 2px rgba(0,0,0,.1);
}
.input:first-child{
    .rounded;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
}
.input:last-child{
    .rounded;
    border-top-left-radius:0;
    border-top-right-radius:0;
}
.input:first-child:last-child{
    .rounded;
}

.input input,
.input textarea,
.input select,
.input button,
.input div{
    .box;
    .rounded;

    display:block;
    width:100%;
    height:100%;min-height:33px;
    border:none;
    
    padding:@borderWidth;
    margin:0;

    outline:none;
    -webkit-appearance: none;

    color:inherit;
    background-color:transparent;

    text-shadow:1px 1px 2px @lighten;
}
.input button{
    padding:0;
}
.input textarea {
    width: 100%!important; //over-rides user resize
}

.action {
    background-color: @actionBackgroundColor;
    color: @actionColor;
    cursor: pointer;
}
.action button{
    cursor: pointer;
}

.share a
{
    text-decoration: none;
}

.withIcon{
    padding: @borderWidth;
    padding-left: (@borderWidth *2 + @iconSize);

    background-position: @borderWidth center;
    background-size: @iconSize @iconSize;
    background-repeat: no-repeat;
}

#HelpContainer .withIcon{
    padding: 0;
    padding-left: @iconSize;

    background-position: @borderWidth/1.5 center;
    background-size: @iconSize/1.5 @iconSize/1.5;
}

.withAction{
    padding-right:@buttonWidth + 2;
}
.withAction .action{
    .rounded;
    .action;
    position:absolute;
    top:@borderWidth;bottom:@borderWidth;
    right:@borderWidth;
    width:@buttonWidth;height:auto;

    border:solid @borderWidth transparent;
    padding:@borderWidth 0;
}
.withAction .action.active{
    background-color:@activeBackgroundColor;
    border:solid @borderWidth rgba(255,255,255,.1);
}

@media only screen and (max-width: 500px) {

    .withAction {
        padding-right: (@buttonWidth*1.4) + 2;
    }

        .withAction .action {
            .rounded;
            .action;
            width: @buttonWidth*1.4;
        }
}

@media only screen and (max-width: 360px) {

    .withAction {
        padding-right: (@buttonWidth*1.6) + 2;
    }

        .withAction .action {
            .rounded;
            .action;
            width: @buttonWidth*1.7;
        }
}

.readonly,
.readonly .input,
.input [readonly],
.row .withAction .action[disabled]{
    background-color:@inputReadonlyBackgroundColor;
    box-shadow:none;
}

	.withSelector{
	    padding-left:@iconSize + (@borderWidth*2);
	}
	.withSelector>[type='checkbox'],
	.withSelector>[type='radio']{
	    display:none;
	}
	    .withSelector input[type='checkbox'] + label
	    {
	        position: absolute;
	        top: @borderWidth;
	        bottom: @borderWidth;
	        left: @borderWidth;
	        width: @iconSize+@borderWidth;
	        height: auto;
	
	        background-position: @borderWidth center;
	        background-size: @iconSize @iconSize;
	        background-repeat: no-repeat;
	
	        cursor: pointer;
	        text-indent: -10000px;
	    }


.story .title .withAction .action {
    
    background-image: url('../Images/Lock.svg');
    background-position: center center;
    background-size: (@iconSize*2) (@iconSize*2);
    background-repeat: no-repeat;

    padding-top:4.25em;
    overflow:hidden;
}

.story .title .withAction .action.active {
    background-image: url('../Images/Unlock.svg');
}

.story [name='title']{
    font-size:1.25em;
    min-height:5.5em;
}
    .story [name='title'][readonly]
    {
        background-color:@titleReadonlyBackgroundColor;
    }

.story .points .input {
    min-height: @rowHeight + (@borderWidth * 2);
}
.story .points .results{
    min-height:@rowHeight;
}
.story .points .result {
    .box;
    float: left;
    width:100%;min-height:@rowHeight;
    margin: 0;
    padding: @borderWidth;
    border: solid @borderWidth transparent;
    text-align: center;
}

.story .timer{
    .box;
    .rounded;
    float:right;
    min-height:@rowHeight;
    line-height:37px;
    padding: 0;
    border: none;

    background-color:@timerBackgroundColor;
}
.story .timerText
{
    .box;
    position:absolute;
    top:@borderWidth;bottom:@borderWidth;
    left:@borderWidth;
    min-width:3em;

    line-height:@rowHeight;
}

.story .points .action
 {
    .box;
    .rounded;
    .action;

    border: solid @borderWidth transparent;
    padding: 0;
}

.user .points{
    display:none;
}
.user .points [type='radio']{
    display:none;
}

    .user .points [type='radio'] + label {
        .box;
        .rounded;
        float:left;
        width: 20%;height:100%;
        margin:0;padding:(@borderWidth * 3) @borderWidth;
        border:solid @borderWidth #fff;
        text-align:center;
        cursor:pointer;
    }

    .user .points [type='radio'] + label.active {
        .box;
        border:solid @borderWidth rgba(255,255,255,.1);
    }

.users .input .activate
{
    position: absolute;
    top: @borderWidth;
    bottom: @borderWidth;
    left: @borderWidth*2;
    width: @iconSize;
    height:auto;
    cursor:pointer;
}
.users .withIcon{
    background-position: @borderWidth*2 center;
}

.input.voted{
    background-color:@selectedBackgroundColor;
}

@pointsColor:#c33;
.points .p8,
.row .p8{
    color:@activeColor;
    background-color:@pointsColor;
}
.points .p5,
.row .p5{
    color:@activeColor;
    background-color:spin(@pointsColor,-30);
}
.points .p3,
.row .p3{
    color:@activeColor;
    background-color:spin(@pointsColor,-60);
}
.points .p2,
.row .p2{
    color:@activeColor;
    background-color:spin(@pointsColor,-90);
}
.points .p1,
.row .p1{
    color:@activeColor;
    background-color:spin(@pointsColor,-120);
}

@import url(dialog.less);

.show-qrCode{    
    position:absolute;
    top:@borderWidth*1.5;
    right:@borderWidth;
    cursor:pointer;
}
.qrCode{
    .box;
    width:400px;max-width:100%;
    background-color:#fff;
}
    .qrCode img
    {
        width: 100%;
        height: 100%;
        image-rendering: optimizeSpeed;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: optimize-contrast; 
        -ms-interpolation-mode: nearest-neighbor;
    }

#UserNameView{
    padding: 1em;
}

.background-tree{
    position:absolute;z-index:-100;
    bottom:0; left:0;
    height:75%;
}