.rounded {
  border-radius: .2em;
}
.shadowed {
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 8px;
}
html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #eeddbb;
  background-image: -o-linear-gradient(bottom, #dfbe7e 7%, #eeddbb 70%);
  background-image: -moz-linear-gradient(bottom, #dfbe7e 7%, #eeddbb 70%);
  background-image: -webkit-linear-gradient(bottom, #dfbe7e 7%, #eeddbb 70%);
  background-image: -ms-linear-gradient(bottom, #dfbe7e 7%, #eeddbb 70%);
  background-image: linear-gradient(to top, #dfbe7e 7%, #eeddbb 70%);
  color: #333333;
  font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  font-size: 95%;
  font-weight: 100;
}
textarea {
  font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}
input,
textarea,
select,
button {
  font-size: 1em;
}
a {
  font-size: 1em;
  color: #333333;
}
.header h1 {
  font-size: 10em;
  margin: -0.2em 0 -0.8em;
  color: #e6d5b4;
}
.page {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto;
  padding: 1em;
}
.body {
  min-height: 300px;
}
.footer p {
  font-size: 1em;
  margin: 0 5px;
}
.footer p,
.footer a {
  color: #baa170;
}
.share a {
  text-decoration: none;
  padding: 0.4em;
  padding-left: 2.4000000000000003em;
  line-height: 1.8em;
  background-image: url(../Images/Share.svg);
  background-position: 0.4em center;
  background-size: 1.6em 1.6em;
  background-repeat: no-repeat;
}
.box {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ui-popup {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: .2em;
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 8px;
  z-index: 1;
}
.ui-select {
  background-color: #669966;
  color: #003300;
  cursor: pointer;
}
.ui-select-list,
.ui-select-item {
  list-style: none;
  margin: 0;
  padding: 0.4em;
}
.ui-select-item {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: .2em;
  padding: 0.4em;
}
.ui-select-list .ui-select-item:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.ui-input {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.ui-input-button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  line-height: 2.4em;
  padding-left: 0.4em;
  border-left: solid 1px rgba(0, 51, 0, 0.25);
  color: rgba(0, 51, 0, 0.5);
}
.icon-timer,
.ui-input .icon-timer {
  padding-left: 2em;
  background-image: url('../Images/Time.svg');
  background-position: left center;
  background-size: 1.6em 1.6em;
  background-repeat: no-repeat;
}
#HelpContainer {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: .2em;
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px 8px;
  display: none;
  z-index: 2;
  position: relative;
  max-width: 280px;
  background-color: #336699;
  color: #eeeeee;
}
.showHelp,
.showDemo {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: .2em;
  position: relative;
  z-index: 1;
  float: right;
  margin: 0 0 0.4em 0.4em;
  border: solid 0.4em #336699;
  padding: 0;
  background-color: #336699;
  color: #eeeeee;
}
.helpContainerInner {
  padding: 0 1em;
}
.helpContainerInner:after {
  border-color: #336699 rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 15px 15px 0;
  bottom: -15px;
  content: "";
  display: block;
  left: 50px;
  position: absolute;
  width: 0;
}
.below .helpContainerInner:after {
  border-width: 0 15px 15px;
  bottom: inherit;
  top: -15px;
}
.row .help {
  display: none;
}
.row {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: .2em;
  position: relative;
  overflow: visible;
  clear: both;
  list-style: none;
  margin-bottom: 0.4em;
}
.withLabel {
  padding: 0 0 0 5.4em;
}
.row .input {
  min-height: 2.5em;
}
.row .inputs {
  padding: 0;
  margin: 0;
}
.row > label {
  position: absolute;
  margin-left: -5em;
  width: 5.5em;
  padding: .3em 0;
}
.input {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: .2em;
  position: relative;
  display: block;
  overflow: auto;
  background-color: #ffffff;
  color: #333333;
  padding: 0.4em;
  box-shadow: inset 1px 1px 6px rgba(0, 0, 0, 0.2);
}
.input input,
.input textarea,
.input select,
.input button,
.input div {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: .2em;
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  padding: 0.4em;
  margin: 0;
  outline: none;
  -webkit-appearance: none;
  color: inherit;
  background-color: transparent;
}
.input textarea {
  width: 100%!important;
}
.action {
  background-color: #669966;
  color: #003300;
  cursor: pointer;
}
.action button {
  cursor: pointer;
}
.withAction {
  padding-right: 21.6%;
}
.withAction .action {
  border-radius: .2em;
  background-color: #669966;
  color: #003300;
  cursor: pointer;
  position: absolute;
  top: 0.4em;
  bottom: 0.4em;
  right: 0.4em;
  width: 20%;
  height: auto;
  border: solid 0.4em transparent;
  padding: 0.4em 0;
}
.withAction .action.active {
  background-color: #336633;
  border: solid 0.4em rgba(255, 255, 255, 0.1);
}
@media only screen and (max-width: 500px) {
  .withAction {
    padding-right: 29.6%;
  }
  .withAction .action {
    border-radius: .2em;
    background-color: #669966;
    color: #003300;
    cursor: pointer;
    width: 28%;
  }
}
@media only screen and (max-width: 360px) {
  .withAction {
    padding-right: 33.6%;
  }
  .withAction .action {
    border-radius: .2em;
    background-color: #669966;
    color: #003300;
    cursor: pointer;
    width: 34%;
  }
}
.readonly,
.readonly .input,
.input [readonly],
.row .withAction .action[disabled] {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: none;
}
.withSelector {
  padding-left: 2.4000000000000003em;
}
.withSelector > [type='checkbox'],
.withSelector > [type='radio'] {
  display: none;
}
.withSelector input[type='checkbox'] + label {
  position: absolute;
  top: 0.4em;
  bottom: 0.4em;
  left: 0.4em;
  width: 2em;
  height: auto;
  background-image: url('/Images/User.svg');
  background-position: 0.4em center;
  background-size: 1.6em 1.6em;
  background-repeat: no-repeat;
  cursor: pointer;
  text-indent: -10000px;
}
.withSelector input[type='checkbox']:checked + label {
  background-image: url(../Images/User_inactive.svg);
}
.story .title .withAction .action {
  background-image: url(../Images/Lock.svg);
  background-position: center center;
  background-size: 3.2em 3.2em;
  background-repeat: no-repeat;
  padding-top: 4.25em;
  overflow: hidden;
}
.story .title .withAction .action.active {
  background-image: url(../Images/Unlock.svg);
}
.story [name='title'] {
  font-size: 1.25em;
  min-height: 5em;
}
.story [name='title'][readonly] {
  background-color: rgba(255, 255, 255, 0.5);
}
.story .points .input {
  min-height: 3.8em;
}
.story .points .results {
  min-height: 3em;
}
.story .points .result {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 100%;
  min-height: 45px;
  margin: 0;
  padding: 0.4em;
  border: solid 0.4em transparent;
  text-align: center;
}
.story .timer {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: .2em;
  position: relative;
  float: right;
  min-height: 45px;
  line-height: 35px;
  padding: 0;
  border: none;
  background-color: #ff9900;
}
.story .timerText {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0.4em;
  min-width: 3em;
  line-height: 45px;
}
.story .points .action {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: .2em;
  background-color: #669966;
  color: #003300;
  cursor: pointer;
  border: solid 0.4em transparent;
  padding: 0;
}
.user .points {
  display: none;
}
.user .points [type='radio'] {
  display: none;
}
.user .points [type='radio'] + label {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: .2em;
  float: left;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 1.2000000000000001em 0.4em;
  border: solid 0.4em #ffffff;
  text-align: center;
}
.user .points [type='radio'] + label.active {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 0.4em rgba(255, 255, 255, 0.1);
}
.users .input {
  padding-left: 2.4000000000000003em;
  padding-right: 0.4em;
  margin-bottom: 0.4em;
}
.users .input .activate {
  border-radius: .2em;
  position: absolute;
  left: 0.4em;
  width: 2em;
  top: 0.4em;
  bottom: 0.4em;
  background-image: url(../Images/User.svg);
  background-position: center;
  background-size: 1.6em 1.6em;
  background-repeat: no-repeat;
  cursor: pointer;
}
.users .input.inactive .activate {
  background-image: url(../Images/User_inactive.svg);
}
.input.voted {
  background-color: #bbeedd;
}
.points .p8,
.row .p8 {
  color: #ffffff;
  background-color: #cc3333;
}
.points .p5,
.row .p5 {
  color: #ffffff;
  background-color: #cc3380;
}
.points .p3,
.row .p3 {
  color: #ffffff;
  background-color: #cc33cc;
}
.points .p2,
.row .p2 {
  color: #ffffff;
  background-color: #7f33cc;
}
.points .p1,
.row .p1 {
  color: #ffffff;
  background-color: #3333cc;
}
.dialog {
  display: none;
}
.dialogCover {
  background-color: #eeddbb;
  background-image: -o-linear-gradient(bottom, #000000 7%, #000000 70%);
  background-image: -moz-linear-gradient(bottom, #000000 7%, #000000 70%);
  background-image: -webkit-linear-gradient(bottom, #000000 7%, #000000 70%);
  background-image: -ms-linear-gradient(bottom, #000000 7%, #000000 70%);
  background-image: linear-gradient(to top, #000000 7%, #000000 70%);
  opacity: 0.5;
  display: none;
}
.dialogContainer {
  background-color: #eeddbb;
  background-image: -o-linear-gradient(bottom, #204060 7%, #336699 70%);
  background-image: -moz-linear-gradient(bottom, #204060 7%, #336699 70%);
  background-image: -webkit-linear-gradient(bottom, #204060 7%, #336699 70%);
  background-image: -ms-linear-gradient(bottom, #204060 7%, #336699 70%);
  background-image: linear-gradient(to top, #204060 7%, #336699 70%);
  padding: 0 2em 2em;
  display: none;
  color: #fff;
}
.dialogContainerInner {
  max-width: 400px;
  margin: 0 auto;
}
.dialogContainer .withAction button {
  border: none;
}
.icon {
  float: right;
  overflow: hidden;
  width: 24px;
  height: 0;
  margin: 0 0 0 6px;
  padding-top: 24px;
  background-repeat: no-repeat;
  border-radius: 2px;
}
.icon-twitter {
  background-image: url(/images/twitter.png);
}
.icon-google {
  background-image: url(/images/google.png);
}
