@backgroundColor: #edb;
@color:#666;

@lighten:rgba(255,255,255,.25);
@darken:rgba(0,0,0,.1);

@headerColor:lighten(@backgroundColor,2%);

@inputBackgroundColor: rgba(255,255,255,.75);
@inputColor:#555;
@inputReadonlyBackgroundColor: fade(desaturate(darken(@backgroundColor,20%),25%),40%);
@inputReadonlyColor:rgba(0,0,0,.6);

@titleReadonlyBackgroundColor: rgba(255,255,255,.5);

@actionBackgroundColor: #696;
@actionColor:#030;
@activeBackgroundColor: #363;
@activeColor:#fff;
@selectedBackgroundColor: spin(@backgroundColor,120);
@selectedColor:#fff;

@helpBackgroundColor:#369;
@helpColor:#eee;

@timerBackgroundColor:#f90;

@labelWidth:4em;
@buttonWidth:20%;
@borderWidth:.5em;
@borderColor:rgba(0,0,0,.05);

@iconSize:1.7em;

@font:'Open Sans', sans-serif;

.linearGradient(@c, @a: 5%, @i: none, @ibottom: none) {
    background-color: @c;
    background-image: @ibottom, @i, -o-linear-gradient(bottom, darken(@c,@a) 7%, @c 70%);
    background-image: @ibottom, @i, -moz-linear-gradient(bottom, darken(@c,@a) 7%, @c 70%);
    background-image: @ibottom, @i, -webkit-linear-gradient(bottom, darken(@c,@a) 7%, @c 70%);
    background-image: @ibottom, @i, -ms-linear-gradient(bottom, darken(@c,@a) 7%, @c 70%);
    background-image: @ibottom, @i, linear-gradient(to top, darken(@c,@a) 7%, @c 70%);

    background-repeat: no-repeat, repeat, no-repeat;
    background-position: 75% bottom, left center, left center;
    -moz-background-size: auto 65%, auto, auto;
    -o-background-size: auto 65%, auto, auto;
    background-size: auto 65%, auto, auto;
}

.opacity(@v){
    opacity:@v;
}

.rounded{
    border-radius:.2em;
}
.shadowed{
    box-shadow: rgba(0,0,0,.4) 2px 2px 8px;
}

